{% extends "main/base.html" %} 
{% load bootstrap_icons %} 
{% load static %} 
{% block content %}


<div class="container mt-5">
  <div class="row">
    <!-- User Card -->
    <div class="col-md-3">
      <div class="card">
        <img
          src="https://images.fineartamerica.com/images/artworkimages/medium/3/badge-luffy-gear-5-avatar-thuan-ngo-ba-transparent.png"
          class="card-img-top"
          alt="User Avatar"
        />
        <div class="card-body text-center">
          <h5 class="card-title">@{{ user.username }}</h5>
          <div class="btn-group" role="group">
            <a
              href="{% url 'profile' username=user.username %}"
              class="btn btn-dark"
              >Profile</a
            >
            <a href="{% url 'create_post' %}" class="btn btn-outline-info"
              >Create Post</a
            >
          </div>
        </div>
        <div class="card-footer text-center">
          <a href="#" class="text-decoration-none text-dark">Followers</a>
          <a href="#" class="text-decoration-none text-dark">Following</a>
          <a href="#" class="text-decoration-none text-dark">Posts</a>
        </div>
      </div>
    </div>

    <!-- User Posts -->
    <div class="col-md-6">
      {% for post in posts %}
      <div class="card mb-3">
        <div class="card-body">
          <div class="d-flex">
            <a
              href="{% if post.user.id == request.user.id %}{% url 'profile' username=request.user.username %}{% endif %}"
              class="text-decoration-none text-dark"
            >
              @{{ post.user }}
            </a>
            <p class="card-text" style="margin-left: 7px">
              <em class="text-body-secondary">
                <small> {{post.display_time}} </small>
              </em>
            </p>
          </div>
          <a
            class="text-decoration-none text-dark"
            href="{% url 'post_detail' post.id %}"
          >
            <p class="card-text">{{ post.content }}</p>
          </a>
        </div>
        {% if post.image %}
        <img
          src="{{ post.image.url }}"
          class="card-img-bottom"
          alt="Post Image"
        />
        {% endif %}
        <div class="card-footer d-flex justify-content-around">
          <button
            id="like-btn"
            type="button"
            class="border-0 bg-transparent"
          >
            {% bs_icon 'balloon-heart-fill' size="25px" %}
          </button>
          <button
            id="repost-btn"
            type="button"
            class="border-0 bg-transparent"

          >
            {% bs_icon 'repeat' size="25px" %}
          </button>
          <button
            id="comment-btn"
            type="button"
            class="border-0 bg-transparent"

          >
            {% bs_icon 'chat-text' size="25px" %}
          </button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}
