{% extends "main/base.html" %} 
{% load bootstrap_icons %} 
{% load static %} 
{% block content %} 
{% comment %} 
* In Prog: Create 2 new users and work on Auth logic for Reg & Login.
TODO: Continue working on user card.
! Icons will not work if internet is off.
{% endcomment %}

<div style="height: 100%">
  <div
    style="
      display: flex;
      justify-content: space-between;
      background-color: black;
      height: 1080px;
    "
  >
    <div style="position: relative; left: 100px">
      <div class="card mt-5" style="width: 18rem; background-color: white">
        <div
          style="
            position: relative;
            display: flex;
            width: 50%;
            justify-content: center;
            margin: 0 auto;
            top: -35px;
          "
        >
          <img
            src="https://images.fineartamerica.com/images/artworkimages/medium/3/badge-luffy-gear-5-avatar-thuan-ngo-ba-transparent.png"
            class="card-img-top"
            alt="placeholder image"
            style="
              background-color: black;
              border-radius: 50%;
              width: 125px;
              height: 125px;
            "
          />
        </div>
        <span class="border-bottom" style="height: 1px"></span>
        <div
          class="card-body"
          style="display: flex; justify-content: space-around"
        >
          <h5
            class="card-text"
            style="
              border-radius: 5px;
              display: inline-block;
              position: relative;
              top: 0px;
            "
          >
            <a
              class="btn btn-outline-dark"
              style="font-family: Lemon; font-size: 14px; padding: 2px;"
              href="/profile/{{user.username}}"
              role="button"
              id="user-card-username"
            >
              @{{user.username}}
            </a>
          </h5>
          <h5
            class="card-text"
            style="
              border-radius: 5px;
              display: inline-block;
              position: relative;
              top: 0px;
            "
          >
            <a
              class="btn btn-outline-info"
              href="/post/create/"
              role="button"
              style="padding: 2px"
              >Create Post
            </a>
          </h5>
        </div>
        <div style="display: flex; justify-content: space-around">
          <a href="#" style="text-decoration: none; color: inherit"
            >Followers</a
          >
          <a href="#" style="text-decoration: none; color: inherit"
            >Following</a
          >
          <a href="#" style="text-decoration: none; color: inherit">Posts</a>
        </div>
      </div>
    </div>

    <div style="width: 40%">
      {% for post in posts %} {% if post.id %}
      <div class="card mb-3 mt-2" style="background: white">
        <div class="card-body">
          <div style="display: flex">
            <a
              class="card-title text-decoration-none"
              href="/profile/{{ post.user.username }}"
              role="button"
              id="post-user"
            >
              @{{post.user}}
            </a>
            <p class="card-text" style="margin-left: 7px">
              <em class="text-body-secondary">
                <small> {{post.display_time}} </small>
              </em>
            </p>
          </div>
          <a
            class="text-decoration-none text-dark"
            href="{% url 'post_detail' post.id %}"
          >
            <p class="card-text">{{post.content}}</p>
          </a>
        </div>
        {% if post.image %}
        <img
          src="{{ post.image.url }}"
          class="card-img-bottom"
          alt="Post Image"
        />
        {% else %}
        <div></div>
        {% endif %}

        <div class="card-footer d-flex justify-content-around">
          <button id="like-btn" type="button" class="border-0 bg-transparent">
            {% bs_icon 'balloon-heart-fill' size="25px" %}
          </button>
          <button id="repost-btn" type="button" class="border-0 bg-transparent">
            {% bs_icon 'repeat' size="25px" %}
          </button>
          <button
            id="comment-btn"
            type="button"
            class="border-0 bg-transparent"
          >
            {% bs_icon 'chat-text' size="25px" %}
          </button>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>

    <div
      style="
        background-color: greenyellow;
        position: relative;
        right: 125px;
        width: 200px;
      "
    >
      <h5 style="color: black">Recommendations</h5>
    </div>
  </div>
</div>

{% endblock %}
